.home-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  font-family: "KakaoExtra";
  min-width: 1380px; /* 이거 왜 App.css min-width: 1400px 안 먹는 거지 */
}

.home-content {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 40px 30px;
}
