@font-face {
    font-family: 'Kakaobold';
    src: url("../../public/font/KakaoBigSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'KakaoExtra';
    src: url("../../public/font/KakaoBigSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'KakaoRegular';
    src: url("../../public/font/KakaoBigSans-Regular.ttf") format("truetype");
}

.Main-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  font-family: 'KakaoExtra';
  background-color: #F2f2f2;
  padding: 52px 40px;
  gap: 42px;
  border-radius: 22.55px;
}

.Main-start {
  font-size: 2.5rem; 
  font-weight: 800;
  color: #261B1A;
}

.Main-steps-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 460px;
}

.Main-step {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px; 
  border-radius: 24px; 
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 0 2px 4px */
  text-align: left; 
  width: max-content ;
  font-family: "KakaoRegular";
  position: relative;
  flex: 1;
}

.Main-step-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Main-step-number {
  font-size: 1rem;
  font-weight: 800;
  color: #03178c;
}

.Main-step-title {
  font-size: 1rem; 
  color: #261B1a;
  font-weight: 800;
}

.Main-step-icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
}


.Main-step-icon img {
  width: 150px;
  height: auto;
}

.Main-step-description {
  font-size: 2rem;
  font-weight: 800;
}

.Main-step-action {
  font-size: 1.125rem; 
  font-weight: 800;
  color: #03178c;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Main-step-action-link {
  text-decoration: none;
  color: inherit;
  display: inline-block; /* 필요 시 block으로 확장 */
}
